body{
    text-align: center;
  
  }
  
  .wrapper {
    display: grid;
    grid-template-columns:50vw 50vw;
    grid-template-rows: 50vh 50vh;
    /* gap: 10px; */
    margin: auto;
  }
  #top-left{
    grid-column: 1;
    grid-row: 1;
    padding-top: 50px;

  }
  #top-right{
    grid-column: 2;
    grid-row: 1;
  
  }
  #bottom-left{
    grid-column:1;
    grid-row:2;
    /* //max-width: 10%; */
    height: auto;
    background: url("maze.webp") no-repeat;
    background-size: cover;
  
  }
  #bottom-right{
    position: relative;
    /* display: inline; */
    /* vertical-align: top; */
    grid-column:2;
    grid-row:2;
  
  }
  #theText{
  
    position: absolute;
  
  
  }
  
  /* .im{
    width:10px;
    height:auto;
  } */
  
  p{
    display: inline;
    position: absolute;
  }
  
  
  
  .link{
    /* letter-spacing: normal; */
    /* //animation: spacing 15s linear 4s infinite normal; */
    letter-spacing: normal;
    transition: all 1s ease;
  }
  .link:hover{
    letter-spacing:5px;
  }