div {
  
    display:flex;
    width: 100px;
    height: 100px;
    /* background: white; */
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 575px;}
  }

div img{
    display: block;
}
.ac1 {
  width: 100px;
  height: 100px;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

/* @keyframes mymove{
    from{
        left: 700px
        top: 100px;
    }
    to{
        left: 700px
        top: 500px;
    }
} */
