body{
    overflow: hidden;
}
div {
    display: flex;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: mymove 7s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    from {top: -100px;}
    to {top: 1000px;}
  }

.soup {
  width: 100px;
  height: 100px;
  left: 200px; 
  animation: mymove 7s;
  animation-fill-mode: forwards;
}

div {
    display:flex;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: mymove 5s;
    animation-fill-mode: forwards;
}

.salad {
  width: 100px;
  height: 100px;
  left: 400px; 
  animation: mymove 5s;
  animation-fill-mode: forwards;
}

div {
    display:flex;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: mymove 6s;
    animation-fill-mode: forwards;
}


.grapeleaves {
  width: 100px;
  height: 100px;
  left: 600px; 
  animation: mymove 6s;
  animation-fill-mode: forwards;
}

div {
    display:flex;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: mymove 8s;
    animation-fill-mode: forwards;
}

.falafel {
  width: 100px;
  height: 100px;
  left: 900px; 
  animation: mymove 8s;
  animation-fill-mode: forwards;
}

div {
    display:flex;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: mymove 5s;
    animation-fill-mode: forwards;
}


.içliköfte {
  width: 100px;
  height: 100px;
  left: 1100px; 
  animation: mymove 5s;
  animation-fill-mode: forwards;
}

div {
    display:flex;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: mymove 6s;
    animation-fill-mode: forwards;
}


.lahmacun {
  width: 100px;
  height: 100px;
  left: 1300px; 
  animation: mymove 6s;
  animation-fill-mode: forwards;
}

.container {
  position: absolute;
}